html{
    background-color: #E9E7DA;
}

.cont {
    background-color: #CDA34F;
    margin-top: 15px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 35px;
    
}

#video{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}