html{
    background-color: #E9E7DA;
}

.cont {
    background-color: #CDA34F;
    margin-top: 15px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 35px;
    
}

#video{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}

h1{
    text-align: center;
}

h2{
    padding-top: 1%;
    text-align: center;
}

object{
    width:90% ;
    height:728px ;
}

@media only screen and (min-width: 2000px) {
    h1{
        font-size: 45px;
    }
}

@media only screen and (max-width: 850px) {
    .cont{
        min-width: 800px;
    }
}