html{
    background-color: #E9E7DA;
}

.cont {
    background-color: #CDA34F;
    margin-top: 15px;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: -11px;
    
}

h1{
	padding-left: 5%;
	padding-top: 1%;
}

h2{
	padding-left: 10%;
	padding-right: 3%;
	padding-bottom: 1%;
}

@media only screen and (min-width: 2000px) {
    h1{
        font-size: 45px;
    }

    h2{
        font-size: 30px;
    }
}

@media only screen and (max-width: 850px) {
    .cont{
        min-width: 800px;
    }
}