html{
    background-color: #E9E7DA;
}

.cont {
    background-color: #CDA34F;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
}

.content-header {
 
}

.btn-actionH {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #373F27;
    margin:11px 20px;
    box-sizing: border-box;
    padding:10px 20px;
}

